<!DOCTYPE html>
<html lang="zh-CN" ng-app="demo">

<head>
    <meta charset="UTF-8">
    <title>第5章 控制器-Demo</title>
    <!-- imoport bootstrap css -->
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- imoport angular framework -->
    <script src="../js/angular-1.0.1.min.js"></script>
    <!-- imoport common Javascript functions -->
    <script src="../js/functions.js"></script>
</head>

<body ng-controller="MyController">

    <button ng-click="add(1)">递增 ↑</button> 
    <button ng-click="del(1)">递减 ↓</button> 
    当前值:{{counter}}
</body>
<script type="text/javascript">
    var demoApp = angular.module("demo",[]);
    demoApp.controller("MyController",function($scope){
        $scope.counter = 0 ;
        $scope.add = function(amount){
            $scope.counter += amount ;
        }
        $scope.del = function(amount){
            $scope.counter -= amount ;
        }
    });
</script>

</html>
